h1{
margin:0;
padding:0;
}
body{
  background-color:
}
.social-items img{
  width:50px;
}
.inner-footer{

background-color: #6cccc6;

}

.quick-links li{
display:inline-block;
border: 10px solid;

}

.nombres{
background-color:grey;
height: 90px;
text-align:center;

}
.bow{
text-align:center;
}

.bow2{
text-align:center;
}

.bow3{
  text-align:center;
}
